* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    background-color: slategrey;
}

.container {
    display: flex;
    justify-content: center;

    margin-top: 5vh;
}

.grid-panel {
    box-shadow: -1px 11px 99px -5px rgba(0,0,0,0.49);
    -webkit-box-shadow: -1px 11px 99px -5px rgba(0,0,0,0.49);
    -moz-box-shadow: -1px 11px 99px -5px rgba(0,0,0,0.49);

    width: 80vh;
    height: 80vh;
}

.color-picker {
    width: 80%;
    height: 5vh;
    margin-left: 10%;
}

.editor {
  color: white;
}

.editor.box {
  margin-left: 5vh;
  background-color: #212121;
}

.editor.title {
  background-color: #141414;
  padding-left: 4vh;
  padding-right: 4vh;
  font-weight: bold;
  text-align: center;
}

.editor.title h1 {
  margin-block-end: 0px;
  font-size: 36px;
  padding-top: 20px;
}

.editor.title p{
  font-size: 12px;
  padding-bottom: 20px;
}